*.pyc
__pycache__
examples/Coweeta/output_data
*.js
watershed_workflow.egg-info/PKG-INFO
*.txt
.DS_Store
*checkpoint.ipynb
docs/build
docs/deploy
.ipynb_checkpoints
examples/**/*.parquet
examples/**/*.pickle
examples/**/*.h5
examples/**/*.nc
examples/**/*.xml
examples/**/*.csv
examples/**/*.exo
CLAUDE*
.claude
cache